:root {
  --eucalyptus: hsl(147, 60%, 36%);
  --crail: hsl(16, 50%, 51%);
  --celery: hsl(88, 54%, 58%);
  --maverick: hsl(300, 15%, 81%);
  --fontColor: hsl(0, 0%, 96%);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* .row { remove from Auth.js div
  position: relative;
  width: 100%;
} */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.landingPage {
  position: relative;
  background-image: url('../src/assets/landing-page4.jpg');
  background-size: cover;
  /* background-color: var(--maverick); */
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--crail);
}

.landingPage--container {
  width: 80vw;
  border: 0.1rem solid var(--eucalyptus);
  padding: 4rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 96%, 0.4);
}

.landingPage > h1 {
  position: absolute;
  top: 4rem;
  left: 9rem;
}

.landingPage > button {
  position: absolute;
  right: 9rem;
  bottom: 9rem;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: var(--eucalyptus);
  border-radius: 0.2rem;
  border: 0.1rem solid var(--eucalyptus);
}

.landingPage > button * {
  text-decoration: none;
  color: var(--fontColor);
}

.cards-container {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.cards--displayed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards--displayed > button {
  background-color: transparent;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--eucalyptus);
  cursor: pointer;
}

.cards--displayed > button * {
  width: 100%;
  height: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  /* padding: 1rem 4.5rem; */
  /* border: 1rem solid red; */
  width: 97%;
  margin: 2rem auto;
}

.header-container > * {
  display: flex;
}

.header-container--right {
  display: flex;
}

.header-container--left {
  display: flex;
  gap: 0.5rem;
}

.header-container--left > button {
  width: 3.5rem;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--eucalyptus);
}

.header-container--left > button * {
  color: var(--crail);
  text-decoration: none;
}

.header-container--right > button {
  width: 3.5rem;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--eucalyptus);
}

input[type="text"] {
  max-width: 20rem;
}

input[placeholder] {
  color: var(--eucalyptus) !important;
}

input[type="text"]:focus {
  outline-color: var(--crail);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--crail);
}

.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards-grid > button {
  cursor: pointer;
  border: 1px solid whitesmoke;
  outline: none;
}

.cards--output {
  border: 0.1rem solid var(--eucalyptus);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  width: 97vw;
  margin: 0 auto;
  border-radius: 10px;
  height: 12rem;
  gap: 0.5rem;
}

.selectedTile {
  height: 10rem;
  width: 10rem;
}

.flex-center {
  justify-content: center;
}

.form-widget {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-widget.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.login-container {

}

.account-login--main {
  background-color: var(--maverick);
  color: var(--crail);
  height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  gap: 20px;
}

.account-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.account-label {
  display: block;
  margin: 5px 0;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.account-login--input {
  width: 100%;
  color: var(--crail);
  background-color: var(--maverick);
  border: 1px solid var(--eucalyptus);
  border-radius: 5px;
  padding: 8px;
  font-size: 0.9rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  padding: 0.5rem 1rem;
  color: var(--crail);
  background-color: var(--maverick);
  border: 1px solid var(--eucalyptus);
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.button * {
  text-decoration: none;
  color: var(--crail);
}

.avatar {
  border: 1px solid var(--eucalyptus);
  border-radius: 5px;
  overflow: hidden;
  max-width: 100%;
}
.avatar.image {
  object-fit: cover;
}
.avatar.no-image {
  background-image: url('../src/assets/profile-avatar.png');
  background-size: cover;
  /* background-color: var(--maverick); */
  border: 1px solid var(--eucalyptus);
  border-radius: 5px;
}

.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: 1px solid var(--eucalyptus);
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: var(--celery);
  text-align: center;
  font-size: 12px;
  height: auto;
  max-width: 100%;
  padding: 0.5em 0;
  color: var(--fontColor);
  font-size: 0.9rem;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .landingPage--container {
    padding: 1rem;
  }

  .landingPage > h1 {
    top: 0.8rem;
    left: 4rem;
  }

  .landingPage > button {
    right: 4rem;
    bottom: 3rem;
  }
}

@media screen and (max-width: 666px) {
  .landingPage--container {
    padding: 1rem;
  }

  .landingPage > h1 {
    top: 3rem;
    left: 2rem;
  }

  .landingPage > button {
    right: 3rem;
    bottom: 7rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
