:root {
  --eucalyptus: hsl(147, 60%, 36%);
  --crail: hsl(16, 50%, 51%);
  --celery: hsl(88, 54%, 58%);
  --maverick: hsl(300, 15%, 81%);
  --fontColor: hsl(0, 0%, 96%);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: var(--maverick);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--crail);
}

.footer {
  background-color: var(--celery);
  text-align: center;
  font-size: 12px;
  height: auto;
  max-width: 100%;
  padding: 0.5em 0;
  color: var(--fontColor);
  font-size: 0.9rem;
  margin: 0 auto;
}
.cards-container {
  min-height: 100vh;
  max-width: 100vw;
}

.cards--displayed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards--displayed > button {
  background-color: transparent;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--eucalyptus);
  display: inline-flex;
  cursor: pointer;
}

.cards--displayed > button * {
  width: 100%;
  height: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4.5rem;
}

.header-container--right {
  display: flex;
}

.header-container--left {
  display: flex;
  gap: 0.5rem;
}

.header-container--left > button {
  width: 3.5rem;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--eucalyptus);
}

.header-container--left > button * {
  color: var(--crail);
  text-decoration: none;
}

.header-container--right > button {
  width: 3.5rem;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--eucalyptus);
}

input[type="text"] {
  width: 20rem;
}

input[placeholder] {
  color: var(--eucalyptus) !important;
}

input[type="text"]:focus {
  outline-color: var(--crail);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--crail);
}

.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards-grid > button {
  cursor: pointer;
  border: 1px solid whitesmoke;
  outline: none;
}

.cards--output {
  border: 0.1rem solid var(--eucalyptus);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  width: 90vw;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 2rem;
  height: 12rem;
}

.selectedTile {
  height: 10rem;
  width: 10rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
